header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header button {
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;

}
